/*
    Document   : predictany
    Created on : Jan 29, 2014, 11:54:55 AM
    Author     : rgalitkar
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body{
	color:#000;
	background: #009ECE;  
}

@font-face {
                font-family: "Eras Demi ITC";
                src: url(fonts/ERASDEMI.TTF);
        }
        
@font-face {
                font-family: "Eras Medium ITC";
                src: url(fonts/ERASMD_1.TTF);
        }
        
@font-face {
                font-family: "Eras Bold ITC";
                src: url(fonts/ERASBD_1.TTF);
        }
        
@font-face {
                font-family: "Eras Light ITC";
                src: url(fonts/ERASLGHT_1.TTF);
        }

root{
    display: block;
}

.ErasDemiITC{
	font-family:"Eras Demi ITC";
}

.ErasMediumITC{
	font-family:"Eras Medium ITC";
}

.ErasBoldITC{
	font-family:"Eras Bold ITC";
}

.ErasLightITC{
	font-family:"Eras Light ITC";
}

.error{
    color:red;
}

.css-form input.ng-invalid.ng-dirty {
    border: 1px solid #FA787E;
}

.css-form input.ng-valid.ng-dirty {
    border:1px solid  #red;
}

.main-layout {
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    width: 400px;
    border: 1px solid #DADADA;
}

.big-header{
    height: 100px;
    background: #000;
}

.main-header{
    height: 50px;
    background: #000;
}

.center-logo {
    margin: auto;
    padding-top: 33px;
    width: 100px;
}
.left-logo {
    padding-left: 10px;
    padding-top: 10px;
    width: 100px;
}

.padding-top-bottom-10{
    padding-bottom: 10px;
    padding-top: 10px;
}

.margin-top-bottom-10{
    margin-bottom: 10px;
    margin-top: 10px;
}

.margin-top-bottom-15{
    margin-bottom: 15px;
    margin-top: 15px;
}

.margin-top-bottom-20{
    margin-bottom: 20px;
    margin-top: 20px;
}

.margin-top-bottom-30{
    margin-bottom: 30px;
    margin-top: 30px;
}

.margin-top-10{
    margin-top: 10px!important;
}

.error-wrapper{
    margin-bottom: 10px;
}

.navbar{
    background: #DADADA;
}

.navbar .nav > li > a {
    color:#FFF;
    text-shadow:none;
    padding-left: 10px;
    padding-right: 10px;
}

.blue-number{
	font-size:14px;
}

.overlay-titles{
	font-weight:normal;
	font-size:20px;
	font-family:"Eras Demi ITC";
}


/*.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #E7E7E7;
    color: #F79646 ;
    text-decoration: none;
}*/

.rn-carousel-indicator {
	width: 100%;
	text-align: center;
	height: 20px!important;
	/* background-color: #000; */
	/* background-color: rgba(0,0,0,.6); */
	background:none!important;
	position: relative;
	bottom: 5px!important;
	cursor: pointer;
}

.header-top{
    background-color: #333333;
    padding:5px;
}

.blank-div{
	height:60px;
}

.header-top-layout1{
    background-color: #E6F5FA;
    padding:5px;
}

.head-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}

.head-modal-bottom{
	position:absolute;
	bottom:20px;
}


.head-title-layout3 {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	color: #FABA4B;
	margin-top: 2px;
	margin-left: -10px;
	font-family: Eras Demi ITC;
}

#header_center{
    margin-left:-10px;
}

.dobtitle {
	background-color: #ECED7B;
	margin-left: 22px;
	width: 86.5%;
	border-radius: 0 0 5px 5px;
	padding: 5px 10px;
	text-align: left;
	margin-top: -13px;
	font-size: 10pt;
	color: #000;
}

.wrap-text-title{
	font-size: 16px;
	padding: 1px 2px;
	display: block;
	float: left;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
	color: #000;
	background: #9bce31;
	font-weight: bold;

}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
	background: #404040;
	color: #fff;
	font-weight: bold;

}

.bootstrap-switch {
	border: 4px solid!important;		
	border-color: #000!important;
	background:#000;
}

.bootstrap-switch.bootstrap-switch-focused{
	border: 4px solid!important;
	border-color: #000!important;
	box-shadow:0;
}

.logo-img{
    max-width: 60px;
    max-height: 60px;
}

.img-responsive-back-arrow{
	display: block;
	max-width: 60%;
	height: auto;
}

.footer{
    background:#F0AD4E;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-right-10{
    margin-right: 10px;
}

.no-margin-per{
    margin-right:0!important;
}

.margin-right-5per{
	margin-right:5%!important;
}

.margin-right-3per{
	margin-right:2.8%!important;
}

.margin-right-2per{
	margin-right:2%!important;
}

.main-container {
    border: 1px solid #DADADA;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    min-width: 100px;
}

.margin-bottom-10 {
	margin-bottom: 2%!important;
}

.btn-gray{
    background: transparent;
    color:#888888;
    border: 0px;
}

.btn-gray:hover{
    color:#FFF;
}

.main-title {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    text-align: center;
    
    float:left;
}

span.glyphicon-big {
    font-size: 2em;
}

.content-area {
	background: #009ECE;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: relative;
	/* padding: 2% 0; */
	overflow: auto;
        
}

.content-section{
   /*  min-height: 500px; */
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.pred-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.pred-picture img{
    max-width: 600px;
}

.pred-options td{
    width: 100px;
    background: #DADADA;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top:10px;
    margin: 10px;
    height: 100px;
    border:3px solid #FFF;
}

.content-panel .layer2{
    padding: 10px;
    text-align: center;
}

.content-panel .layer3 td{
    text-align: center;
    background: #333;
    color:#FFF;
    height: 100px;
    border:1px solid #666666;    
    width: 20%;
}

div.bottom-icons{
    font-size: 200%;
}

.layer3 td:hover{
    background: #666666;
}

.layer3 td div.bottom-menu{
/*    font-size: 12px;*/
  font-size: 70%;
    letter-spacing: 2px;
}

.main-wrapper{
    position: relative;
}

.category_panel{
    position: absolute;
    left:0px;
    top:0px;    
    z-index: 99999;
    background: #FFF;
    width:1000%;
    min-width: 100px;
    max-height: 600px;
    overflow: auto;
    display:none;
}

.category_panel .layer1
{
    text-align: center;
    background: #000;
    padding:10px;
}

.category_panel .layer3 .header{
    background: #000;
    color:#FFF;        
    padding: 10px;
    font-weight: bold;    
}

.category_panel .list ul{
    list-style: none;
    margin: 0px;
    padding:0px;
}

.category_panel .list ul li{
    padding: 10px;
    border-bottom: 2px solid #DADADA;
    color:#000;
    font-weight: bold;
}

.font10{
	font-size:10px;
}

.font11{
	font-size:11px;
}

.font12{
	font-size:12px;
}
.font13 {
font-size: 13px;
font-family: "Eras-Medium-ITC";
}

.modal {
	display: none;
	overflow: auto;
	overflow-y: auto;
	position: fixed;
	top: 15%;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10050;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}

.modal-backdrop {
	position: static;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}

.category_panel .layer2 div{
    font-size: 25px;
    font-weight: bold;
}

.padding10{
    padding:10px;
}

.paddingT5{
	padding-top:5px;
}

.paddingT10{
	padding-top:5px;
}

.pointer{
    cursor: pointer;
}

.center{
    text-align: center;
}

.bootstrap-switch .bootstrap-switch-label {
	background: #000;
	
}

.white{
	background:#fff;
}

.question-img{
	border-radius:10px;
	margin:10px auto;
    width:300px;
    height:164px;
}

.big-input {
	width: 90%;
	padding: 10px;
	text-align: center;
	border-radius: 7px;
	border: 0;
}

input[type=date] {
 line-height: 20px; 
}

.header-bg{
	background-color: black;
	padding: 10px 0;
	top:20px;
    left:0;
    position:absolute;
	width:100%;
	-webkit-transform: translate3d(0px, 0px, 0px);
	z-index:100;
}

.header-cat {
	background-color: black;
	padding: 2px 0;
	top: 20px;
	left: 0;
	position: absolute;
	width: 100%;
	-webkit-transform: translate3d(0px, 0px, 0px);
	z-index: 100;
	height: 50px;
}

.footer-bg {
	background-color: black;
	padding: 5px 0;
	float: left;
	width: 100%;
	z-index: 100;
	position: absolute;
	bottom: 0;
	-webkit-transform: translate3d(0px, 0px, 0px);
}

.ps-container .ps-scrollbar-y-rail{
	z-index:100;
}

.footer-left-sect{
	/* border: 2px solid #eb544d; */
	padding: 0 5px;
	border-radius: 5px;
	cursor:pointer;
}

.footer-right-sect{
	/* border: 2px solid #9fcf31; */
	padding: 0 5px;
	border-radius: 5px;
	cursor:pointer;
}

.round-number{
	color:#fff;
	font-size:1em;
}

.search-input{
	width: 100%;
	padding: 10px;
	text-align: center;
	border-radius: 7px;
	border: 0;
	font-size: 15px;
}

.group-responsive{
	display: block;
	max-width: 50%;
	height: auto;
}

.send-input{
	width: 100%;
	padding: 10px;
	text-align: left;
	border-radius: 7px;
	border: 0;
	font-size: 15px;
}

.belt-stars {
	max-width: 17.9%;
	margin: 0px 1% 1%;
}
.belt-wrapper {
	padding: 5px 3px;
	border-radius: 7px 0;
	display: block;
	margin-right: 15px;
}

.share-button{
	background:#Eced7b;
	text-align:center;
	border-radius:5px;
	font-size:10px;
	float:left;
	padding:5px;
	cursor:pointer;
}

.coin-number-header{
	color:#fff;
	display:block;
	padding:2px;
	font-family:"Eras Medium ITC";
}

.standard-belt-wrapper {
	padding: 5px 3px;
	border-radius: 7px 0;
	display: block;
	margin:0px 0 10px;
}

.anchor_text
{
    text-decoration: none;
    color: black;
}

input[type=checkbox].css-checkbox {
							  position: absolute; 
							overflow: hidden; 
							clip: rect(0 0 0 0); 
							height:1px; 
							width:1px; 
							margin:-1px; 
							padding:0;
							border:0;
						}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left: 35px;
	height: 27px;
	display: inline-block;
	line-height: 17px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 15px;
	vertical-align: middle;
	cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -26px;
}

.css-label{ background-image:url("../img/red-circle-selected.png") }

input[type=checkbox].css-checkbox + label.css-label-add-remove {
	padding-left: 28px;
	height: 27px;
	display: inline-block;
	line-height: 17px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 15px;
	vertical-align: middle;
	cursor: pointer;
	float:right;
}

input[type=checkbox].css-checkbox:checked + label.css-label-add-remove {
	background-position: 0 -27px;
}

.css-label-add-remove{ background-image:url("../img/add-remove-circle-selected.png") }

.events-inset{
	padding:20px;
}

.heading{
	font-weight:bold;
}
.small-heading{
	font-weight: bold;
	font-size: 15px;
	color: #000;
	margin-top: 10px;
	font-family:"Eras Demi ITC";
	margin-bottom:3px;
}

.blue-wrapper {
	background: #009ECE;
	margin: 2% 0;
	border-radius: 10px;
	padding: 1%;
	color: #000;
	font-size: 1.3em;
	text-align: right;
	width: 32%;
	position: relative;
	float:left;
	cursor: pointer;
}

.blue-model-img{
	width: 29%;
	float: left;
}

.empty-box{
	border:4px solid #000;
	border-radius:15px 15px 0 0;
	height:60px;
	margin:0 5px;
	border-bottom:0;
}

.navbar-toggle .icon-bar {
    background-color: #563D7C;
}

.white-star {
    background: url("../img/star.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 14px;
    margin: 10px 10px 10px 0;
    width: 14px;
}

.coin-wrapper {
margin: 2px 0;
padding: 0 2px;
}

.balloon {
    background: url("../img/balloon1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 40px;
    position: absolute;
    left: -25px;
    top: -2px;
    width: 50px;
    z-index: 1;
}

.message-head-sect {
	padding: 5px 5px 0;
	font-size: 1em;
	color: #000;
	float: left;
	width: 100%;
}

.sent-text{
	color:#5d7f93
}

.send-message-text {
	background: #f9df41;
	border-radius: 7px 0;
	text-align: center;
	margin-bottom: 2%;
	padding: 0;
	width: 70%;
	float: left;
}

.send-input {
	width: 100%;
	padding: 10px;
	text-align: left;
	border-radius: 7px;
	border: 0;
	font-size: 15px;
}

.light-yellow{
	background: #F1F8C8;
}

.answer-circle {
	background: url("../img/answer_equal.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
	height: 60px;
	position: absolute;
	right: -35px;
	top: -1px;
	width: 61px;
	z-index: 1;
}

.event-title {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px 10px;
}

.inner-category-wrapper{
	background:#f2f2f2;
	padding-bottom:5px;
	margin:0 10px 4%;
	border-radius:7px 0;
}


.view-text{
	
	color:#fff;
	letter-spacing: 5px;
	font:80px 'Eras Demi ITC';
	text-shadow: -1px 1px 0px #959595, 0px 1px 0px #959595, -1px 1px 0px #959595, -2px 1px 0px #959595, 0px -1px 0px #959595;
}

.end-text {
	font-size: 1.1em;
	padding: 7px 10px 0 0;
}

.yellow-wrapper {
	background: #Eced7b;
	width: 29%;
	text-align: center;
	font-size: 1.5em;
	float: left;
	padding: 10px 0;
	border-radius: 10px;
	cursor: pointer;
}

.yellow-model1{
	margin-right:5%;
	margin-left:2%;
}
.yellow-model-text{
	font-size: 0.7em;
	color: #000;
}

.view-all {
	color: #000!important;
	text-decoration: underline;
	display: block;
	font-size: 1em;
	font-weight: normal;
	padding: 5px 0 5px 10px;
	color: #000;
	font-family: "Eras Light ITC";
}


.circle-wrapper{
	position: absolute;
	z-index: 10;
	margin-left: 19px;
	display: block;
	right: -59px;
	top: 23px;
}

.question-number {
	font-size: 1.5em;
	color: #fff;
	position: absolute;
	top: 37px;
	left: 43px;
}

.round-wrap-left{
	border: 4px solid #000;
	padding: 21px 10px;
	border-radius: 10px 0 0 10px;
	font-size: 1.3em;
	margin:2% 0;
}

.round-wrap-right{
	border: 4px solid #000;
	padding: 21px 10px;
	border-radius: 0 10px 10px 0;
	font-size: 1.3em;
	margin:2% 0;
	border-left:0;
}

.answer-wrap-top-left {
	text-align: center;
	border: 4px solid #000;
	padding: 21px 0;
	border-radius: 10px 0 0;
	font-size: 1.3em;
	margin-bottom: 6px;
}

.answer-wrap-top-right {
	text-align: center;
	border: 4px solid #000;
	padding: 21px 0;
	border-radius:0 10px 0 0;
	font-size: 1.3em;
	margin-bottom:6px;
}

.answer-wrap-bottom-left {
	text-align: center;
	border: 4px solid #000;
	padding: 21px 0;
	border-radius: 0 0 0 10px;
	font-size: 1.3em;
	margin-right:5px;
}

.answer-wrap-bottom-right {
	text-align: center;
	border: 4px solid #000;
	padding: 21px 0;
	border-radius:0 0 10px 0;
	font-size: 1.3em;
}

.col-xs-6-custom{
	width:48%;
	float:left;
	margin: 0 -10px 0 15px;
	position:relative;
}

.avtar-modal-title {
	color: #a0a0a0;
	font-size: 15px;
}

.avtar-option {
	font-size: 18px;
	font-weight: normal;
	color: #1483fc;
	padding: 10px;
	border-bottom: 1px solid #9e9e9f;
	background: #d6d6d6;
}

.question-wrapper{
	position:relative;
	height: 195px!important;
	overflow: hidden;
}

::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

:-ms-input-placeholder {  
   color: #000;  
}

.white-color{
	color:#fff;
}

.marginL5{
	margin-left:5px;
}

.paddingR10{
	padding-right:10px;
}

.marginL{
	margin-left:-15px;
}

.marginR{
	margin-right:-15px;
}

.paddingL{
	padding-left:0px;
}

.paddingR{
	padding-right:0px;
}

.borderRadius{
	border-radius:7px 0;
}

.noPadding{
	padding-left:0px;
	padding-right:0px;
}

.padding-left-right-10{
	padding-left:10px;
	padding-right:10px;
}

.noMargin{
	margin-left:0px;
	margin-right:0px;
}

.noMarginL{
	margin-left:0px;
}

.noMarginR{
	margin-right:0px;
}

.padding10{
	padding:10px!important;
}

.padding0{
	padding:0;
}	

.category-wrap{
	padding-left:10px;
	padding-right:10px;
	float:left;
	width:100%;
}

.margin-bottom-20{
	margin-bottom:3%!important;
}

.margin-left-right-10{
	margin-left:10px;
	margin-right:10px;
}

.margin-left-right-5{
	margin-left:5px;
	margin-right:5px;
}

.alerts-wrapper{
	float:left;
	width:100%;
	padding:5px 5px;
	font-weight:normal;
	font-family: "Eras Medium ITC";
}

.achievements-wrapper{
	float:left;
	width:100%;
	padding:10px 0;
	margin:10px 0;
}

.round-text{
	font-family:"Eras Demi ITC";
	font-weight:bold;
	font-size:12px;
}

.margin5{
	margin:5px;
}

.event-name {
    display: block;
    float: left;
    font-size: 1.5em;
    padding: 5px 10px;
}

.discussion-name-left{
    display: block;
    float: left;
    font-size: 1em;
    padding: 2% 0;
}

.discussion-name-right{
    display: block;
    float: right;
    font-size: 1em;
    padding: 2% 0%;
	text-align:right;
}

.accept-all{
	background: #009ECE;
	padding: 2px 5px ;
	color: #fff;
	border-radius:7px 0;
	font-size:20px;
}
.center-wrapper{
	text-align: center;
	float: left;
	width: 100%;
	margin: 10px 0 25px; 
}
.stars {
	max-width: 20px;
	margin: 7px 3px 7px;
}

.star_trim_spaces
{
    	max-width: 18px;
	margin: 4px 1px 4px;
        
}

.beltStar
{
    width:39% !important;
    float:left;
}
.event-section{
	border-bottom: 3px solid;
	padding: 0 0 10px;
}

.inner-wrapper{
	background:#f2f2f2;
	padding-bottom:10px;
	margin:0 10px;
	border-radius:7px 0;
}

.inner-category-send-wrapper {
	background: #fff;
	padding-bottom: 10px;
	margin: 0 7px 10px;
	border-radius: 7px 0;
	position: relative;
}

.inner-discussion-receive-wrapper{
	background:#fff;
	margin:0 10px 10px;
	border-radius:0 7px;
	position:relative;
}

.suggestCategory{
	border-radius:7px 0;
	background:#Faba4b;
	text-align:center;
	font-size:1.3em;
	font-weight:bold;
	padding:2%;
	margin:0 2%;
}

.add-groups{
	position: absolute;
	background: #fff;
	width: 94%;
	z-index: 100;
	top: 125px;
	padding: 10px;
}

.head-title-text{
	font-size: 15px;
	font-weight: normal;
	text-align: left;
	color: #FABA4B;
	margin-top: 0px;
	font-family:"Eras Demi ITC";
}

.category-wrapper{
	background:#f2f2f2;
	margin: 2% 2% 3%;
	border-radius:7px 0;
	padding-bottom:5px;
}

.store-wrapper {
	background: #f2f2f2;
	margin: 5% 3%;
	border-radius: 7px 0;
}

.text-area{
	width: 100%;
	text-align: left;
	color: #000;
	font-size: 1.3em;
	padding:10px;
	border:0;
	border-radius:5px;
}


.green-block{
	background: none repeat scroll 0% 0% rgb(156, 207, 49);
	padding: 4px 10px;
	text-align:right
}
.content-wrapper{
	padding: 2% 0;
}

.category-text{
	font-size:1.3em;
	color:#000;
}

.close-place{
	position:absolute;
	right:10px;
	z-index:100;
}

.discussion-text{
	font-size:1.7em;
	color:#fff;
	margin:2% 0;
	text-align:center;
	font-family: "Eras Medium ITC";
}

.select-input{
	width: 100%;
	padding: 10px;
	text-align: center;
	border-radius: 7px;
	color: #000;
	font-size: 1.3em;
}

.question-arrow-wrapper{
	height:200px;
	background:#404040;
	width:30px;
	display:block;
	position:relative
}

.que-up-ar{
	position:absolute;
	top:5px;
	left:3px;
}

.que-down-arrow{
	position:absolute;
	bottom:5px;
	left:3px;
}

.orange{
	background:#faba4b!important;
}
.red{
	background:#eb544d;
}
.yellow{
	background:#Eced7b;
}

.darkyellow{
	background:#FFD700 !important;
}
.dark-yellow{
	background:#FFD700;
}

.dark-gray{
	background:#404040;
}

.search-blue {
	background: url("../img/search_icon.png") 26% 7px no-repeat #009ECE!important;
}
.blue{
	background:#009ECE!important;
}

.yellow-belt{
	background:#FFD700;
}
.purple-belt{
	background:#4b0082;
}
.white-belt{
	background:#fff;
}
.red-belt{
	background:#8b0000;
}
.blue-belt{
	background:#00008B;
}
.brown-belt{
	background:#5C2C0C;
}
.black-belt{
	background:#000;
}

.orange-belt{
	background:#FF8C00;
}
.green-belt{
	background:#006400;
}

.viewAll{
	display:none;
}


.overlay {
	position: absolute;
	border: 5px solid #000;
	top: 15%;
	background: #f2f2f2;
	width: 92%;
	margin: 0 4% 2%;
	border-radius: 7px 0;
	z-index: 1000;
	color: #000;
	left: 0;
	display:none;
}

.overlay-wrapper{
	padding:0 15px 10px;
}

.overlay-title-section{
	text-align:center;
	margin-top:-10px;
}

.sub-title {
	font-size: 13px;
	font-family: "Eras Demi ITC";
}

.bold{
	font-weight:bold;
}

.normal{
	font-weight:normal;
}
.width40per{ width:100%;}

.big-belt{
	padding:10px;
	border-radius: 7px 0;
}

.big-belt-new{
        max-width: 20px;
	padding:5px;
	border-radius: 7px 0;
}

.big-sub-belt{
	padding:10px;
	border-radius:0 0 7px 0;
}

.big-stars{
	width:15%;
	margin-right:3px;
}

.select-all{
	background:#000;
	color:#fff;
	padding:5px;
	cursor:pointer;
	font-size: 12px;
}

.small-container {
	border: 3px solid #000;
	border-radius: 5px;
	margin: 5px 0 0px;
	float: left;
	width: 100%;
}

.small-answer-container {
	border: 4px solid #000;
	border-radius: 10px;
	margin: 10px 0 0px;
	float: left;
	width: 100%;
}

.small-answer-container .small-title {
	text-align: center;
	font-size: 12px;
	padding: 4px;
	background: #000;
	color: #fff;
	float: left;
	width: 100%;
}


.small-container .small-title{
	text-align:center;
	font-size:16px;
	padding:0 0;
	background: #f2f2f2;
	color:#000;
	font-family: "Eras Medium ITC";
}

.black-section {
	background: #000;
	width: 100%;
	float: left;
	color: #fff;
	text-align: center;
	padding: 0 0 0;
	font-size: 16px;
}
.black-section-text{
	font-size:1.5em;
	color:#fff;
	text-align:center;
	font-weight:bold;
	margin:0;
	font-family:"Eras Demi ITC";
}

.white-section {
background: #fff;
width: 100%;
float: left;
color: #000;
text-align: center;
padding: 0;
font-size: 16px;
border-radius: 0 0 7px 7px;
}
.answer-text{
	font-size:1em;
	color:#000;
	text-align:center;
	margin:0;
	padding:8px 0;
}

.belt-text{
	color:#fff;
	font-size:1.3em;
	padding:4px 10px;
}

.alert-text {
	color: #fff;
	font-size: 1em;
	padding: 4px 10px;
}

.close-icon{
	width: 22px;
	float: right;
	cursor:pointer;
}

.close-icon-overlay {
width: 27px;
float: right;
cursor: pointer;
}

.white-block {
	background: #fff;
	padding: 2px 0;
	font-size: 1.2em;
	color: #000;
	float: left;
	width: 100%;
	border-bottom: 3px solid #000;
	border-top: 3px solid #000;
	font-weight: bold;
}

.orange-block {
	background: #Eced7b;
	padding: 2px 0;
	font-size: 1.2em;
	color: #000;
	float: lef
	width: 100%!important;
	border-bottom: 3px solid #000;
	border-top: 3px solid #000;
	font-weight: bold;
}

.red-block {
	background: #eb544d;
	padding: 2% 0;
	font-size: 1em;
	color: #000;
	float: left;
	width: 100%;
	border-bottom: 3px solid #000;
	border-top: 3px solid #000;
	font-weight: normal;
}

.friend-overlay-heading {
	padding: 5px 0!important;
	font-size: 1em;
	margin-top: 10%!important;
	margin-bottom: 5%!important;
}

.button-wrapper{
	padding:0 1%;
}

.black-button {
	background: #fff;
	color: #000;
	padding:10px 5px;
	cursor: pointer;
	font-size: 1em;
	text-align: center;
	width:32%;
	float:left;
	border-radius:5px;
	display:block;
	margin:5px 0;
	font-weight: normal;
}

.button-active {
	background: #000;
	color: #fff;
}

.friend-wrapper{
	padding: 5px 5px;
	border-radius: 0 0 7px 0;
	text-align: center;
	background: #404040;
	color:#fff;
}

.gray-dark{
	background:#404040;
	padding:13% 0;
	border-radius: 0 0 7px 0;
}
.gray-dark-icons {
	background: #404040;
	border-radius: 0 0 7px 0;
	padding: 2% 5% 2% 8%;
}

.gray-dark-challange {
	background: #404040;
	padding: 5% 0;
	border-radius: 0 0 7px 0;
	float: left;
	width: 100%;
}

.request-text {
	color: #fff;
	font-size: 0.9em;
	margin: 0 3px;
	display: block;
	padding: 0px 4px;
	text-transform: uppercase;
}

.request-accept {
    color: #fff;
	font-size: 1em;
	margin: 0 5px 0 0;
	display: block;
	float: left;
	padding: 0px 5px;
	width: 60px;
	text-transform: uppercase;
}


.gray-dark-coins {
	background: #404040;
	border-radius: 0 0 7px 0;
	padding: 2% 5% 2% 8%;
	float: left;
	width: 100%;
}

.right{
	text-align:right;
}

.red-block a {
    text-decoration: underline;
    color: #000;
    font-weight: normal;
    display: block;
}

.menu-block {
	padding: 2px 0;
	font-size: 1em;
	color: #000;
	float: left;
	width: 100%;
	/* border-bottom: 3px solid #000; */
	border-top: 3px solid #000;
}

.small-black-block {
	background: #000;
	border-radius: 5px;
	color: #fff;
	padding:2px 5px;
	text-align: center;
	font-size: 1em;
	width:35px;
}

.small-white-block {
	background: #fff;
	border-radius: 5px;
	color: #000;
	padding:2px 5px;
	text-align: center;
	font-size: 1em;
	width:35px;
}

.small-block-text{
	font-size:10px;
	text-align:center;
}

.small-block-wrapper{
	float:right;
	margin:0 3%;
}

.menu-heading {
	padding: 1.56% 3%;
	font-family:"Eras Bold ITC";
	font-size: 18px;
	margin: 0;
}

.show-menu-block{
	position: absolute;
	top: 0;
	right: 0%;
	display:block!important;
	z-index: 1000;
	width:0%;
}


.marginTgl{
	margin-top:8px;
}

.recap-title {
	color: #000;
	font-size: 1.5em;
	padding:15px 10px;
}

.standard-belt-stars{
	width: 17%;
	margin-right: 3%;
}

.standard-icons{
	width: 17%;
	margin-right: 8%;
}

.margin10{
	margin:10px;
}

.small-container-wrapper{
	margin:1%;
}

.small-answer-container-wrapper{
	margin:1%;
}

.sub-title-text{
	font-size:16px;
	font-family: "Eras Demi ITC";
}
.padding20{
	padding:20px;
}

.no-visible{
	visibility:hidden;
}

.show-visible{
	visibility:visible;
}

.coin-sect {
	background: #000;
	float: left;
	border-radius: 5px;
	padding: 5px 5px;
	color: #fff;
	width: 25.5%;
}

.width-per{
	width:12%;
	float:left;
}

.custom-heading-anchor{
	display: block;
	position: relative;
	text-decoration:underline;
	font-size:1.3em;
	color:#363636;
	font-weight:normal;
}

.expressions {
	width: 11%;
	float: left;
	text-align: center;
	color: #fff;
	font-size: 2em;
	font-weight: bold;
}
.coins-wrapper{
	margin: 20px 1%;
	float: left;
	width: 99%;
}
.badges{
	background:#fff;
	border-radius:10px 0;
	text-align:center;
	margin:5px 0;
	padding:2% 2%;
	width:24%;
}

.margin-right14per{
	margin-right:14%;
}
.padding5{
	padding:5px;
}

.padding2{
	padding:5px 0;
}

.wish-title{
	text-align:center;
	color:#fff;
	padding:5px 0;
	font-family:"Eras Demi ITC";
}

.font-big{
	font-size:1.5em;
}

.font-small{
	font-size:0.9em;
}

.no-bottom-border{
	border-bottom:0px!important;
}

.no-bottom{
	margin-bottom:0!important;
}

.no-pad-bottom{
	padding-bottom:0!important;
}

.green-title{
	color:#9CCF31;
	font-size:3em;
	font-weight:bold;
	padding:4% 10px;
}

.green{
	background:#9CCF31!important;
}

.db{
	display:block;
}

.nav-text {
	display: block;
	padding-top: 18%;
	position: absolute;
	width: 200px;
	left: 40px;
}
.green-arrow{
	background:#9CCF31;
	padding:6px 10px;
}

.arrow-right {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 18.5px 0 18.5px 10px;
	border-color: transparent transparent transparent #9CCF31;
	display: block;
	float: left;
}
.margin-top-bottom-2per{
	margin:2% 0;
}

.margin-right-left-2per{
	margin:0 2%;
}

.margin-2per{
	margin:2%;
}

.belt-stars-standard {
	max-width: 7.9%;
	margin: 0px 6% 1%;
}

.ranking-list-wrapper {
	background: #f2f2f2;
	border-radius: 7px 0;
	width: 28.9%;
	padding: 5px 0 0;
	float: left;
	margin-left: 3.3%;
	margin-bottom: 3%;
	margin-right: 0.8%;
	color: #000;
	position: relative;
	font-family: "Eras Medium ITC";
}

.block-slider .rn-carousel-slide {	
	padding-bottom: 0px;
        margin-top: 10px;
}

.ranking-right-text{
	font-size:1.5em;
	font-weight:bold;
	padding-top:20%;
}

.search-menu-wrapper{
	background:#000;
	padding:2%;
}

.send-wrapper {
	background: #000;
	padding: 1.4% 0 1% 1%;
}

.search-category{
	background:#fff;
	border-radius:7px 0;
	text-align:center;
	margin-bottom: 3%;
	padding:0;
}

.margin-top-5{
    margin-top:5px;
}

.msg-grp-img {
    padding-right: 5px;
    position: absolute;
    bottom: -55px;
    right: 0px;
}

.ninja-grp-img {
    margin: 5px 5px 10px 0;
    position: absolute;
    right: -3px;
}

.margin-left-right-8 {
    margin-left: 8px;
    margin-right: 8px;
}

.moveLeft{
	left:-84%;
}

.menu-img{
	width:10%;
	float:left;
	padding-left:2%;
}

.menu-wrapper {
	font-size:19px;
/*	width: 83.4%;*/
	float: right;
	position: absolute;
	right:0;
	top:0;
/*	display:none;*/
}

.menu-anchor{
	text-decoration:none;
	color:#000;
}

.menu-anchor:hover{
	text-decoration:none;
	color:#000;
}

.menu-wrapper a {
	color: #000;
	text-decoration: none;
	padding-top:2px;
        display:block;
}

.menu-wrapper-show{
	display:block!important;
}

.time-stamp-left {
	font-size: 10px;
	padding: 2px 5px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.time-stamp-right {
	font-size: 10px;
	padding: 2px 5px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.send-balloon {
	background: #Faba4b;
	padding: 20px 10px;
	color: #000;
	font-weight: bold;
	width:10%;
}

.family-list-wrapper-selectable{
	background: #f2f2f2;
	border-radius: 7px 0;
	width: 100%;
	float: left;
	
}

.family-list-wrapper {
	background: #f2f2f2;
	border-radius: 7px 0;
	width: 28.9%;
	float: left;
	margin-left: 3.3%;
	margin-bottom: 3%;
	margin-right: 0.8%;
}

.family-list-wrapper-add-edit {
	background: #f2f2f2;
	border-radius: 7px 0;
	width: 30%;
	float: left;
	margin-left: 3.3%;
	margin-bottom: 3%;
	margin-right: 1%;
}


.rn-carousel-indicator span {
	-webkit-transition: color .2s ease-out;
	transition: color .2s ease-out;
	padding: 0px 2px!important;
	color: #000!important;
}

.rn-carousel-indicator .active {
	color: #fff!important;
}

.selected-image{
	margin-top: 30px;
	z-index: 99999999;
	position: absolute;
	margin-left: 20px;
	display:none;
}

.selected-group-wrapper{
	position: absolute;
	top: 40%;
	left: 30%;
	display:none;
}

.family-relative-wrapper{
	float: left;
	width: 30%;
	position:relative;
	margin-left: 2%;
	margin-bottom: 3%;
	margin-right: 1%;
}

.group-active{
	background: #fff!important;
	border-radius: 7px 0 0!important;
	padding-bottom:12px;
}

.family-title {
	background: #404040;
	border-radius: 7px 0 0 0;
	padding: 10px 5px;
	color: #fff;
	height: 60px;
}

.noPadding-all{
	padding:0px;
}

.profile-img-lap {
	border: 2px solid #000;
	border-radius: 10px 0;
	position: absolute;
	top: 10px;
	/*margin: 31px 33%;*/
	width: 150;
	/* width: 45%; 
	height: 100px;*/
	left: 85px;
	height: 150px;
}

.profile-img-lap-edit {
	border: 2px solid #000;
	border-radius: 10px 0;
	position: absolute;
	top: 10px;
	/* margin: 31px 33%; */
	width: 150px;
	height: 150px;
	left: 85px;
}

.profile-bg{
	height: 170px;
	width: 100%;
}

.profile-text {
	color: #000;
	padding: 0px 2px;
	font-size: 14px;
	font-family: "Eras Medium ITC";
}

.account-text {
	color: #000;
	padding: 0px 10px;
	font-size: 12px;
}

.account-heading {
	color: #000;
	padding: 5px 5px 5px;
	font-size: 1.3em;
	font-weight: bold;
	font-family: "Eras Demi ITC";
}

.location-details{
	border-radius:5px 5px 0 0;
	border-bottom:3px solid #9e9e9e;
	padding:5px;
}

.secondary-category{
	display:block;
}

.width75per{
	width:75%!important;
}

.collapse-group{
    white-space: nowrap;width: 184px;text-overflow: ellipsis;height: 20px;overflow: hidden;
}

.expand-group{
    width: 184px;height: auto;
}
.account-sect{
	background:#fff;
	padding:5px 20px;
	width:30%;
	text-align:center;
	border-radius:5px;
	float:left;
	margin-bottom:10px;
}
.account-social-sect {
	background: #fff;
	padding: 5px 0px;
	width: 46%;
	text-align: center;
	border-radius: 5px;
	float: left;
	margin: 5px 0 10px 5px;
}

.account-social-text{
	font-size:1em;
	text-align:right;
	padding:0px 5px;
}

.height-img{
	height:25px;
}

.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
	padding-bottom: 4px;
	padding-top: 4px;
	font-size: 14px;
	line-height: 25px;
}

.profile-input {
	width: 100%;
	padding: 10px;
	text-align: left;
	border-radius: 7px;
	color:#000;
	border:0;
}


.store-name-right {
	display: block;
	float: right;
	font-size: 1.5em;
	padding: 7px 10px;
	text-align: right;
	border-bottom: 3px solid #000;
	text-shadow: 2px 2px 1px #666;
	font-family:"Eras Bold ITC";
}

.store-name-left{
	display: block;
	float: left;
	font-size: 1.5em;
	padding: 5px 10px;
	text-align:left;
	border-bottom:3px solid #000;
	text-shadow: 2px 2px 1px #666;
	font-family:"Eras Bold ITC";
}


.predict-img {
	display: block;
	position: relative;
	right: 5px;
	bottom: -20px;
}


.font-medium{
	font-size:1em;
	color:#000;
	font-family:"Eras Medium ITC";
	font-weight:bold;
}

.coins{
    color: white; 
    margin:10px; 
    font-family:"Eras Medium ITC";
    font-size: 20px;
    text-align: center;
}
#back_replace_coins{
    color:white;
    text-align: center;
    font-size:18px;
    font-family:"Eras Medium ITC";
}
.black{
	background:#000;
}

.light-gray{
	background:#f2f2f2!important;
}

.yellow-font-color{
	color:#Eced7b!important;
}

.orange-font-color{
	color:#Faba4b!important;
}
black-font-color{
    color:black;
}

.green-font-color{
	color:#9CCF31!important;
}

.red-font-color{
	color:#ea544d!important;
}

.badges-list {
	background: #fff;
	border-radius: 10px 0;
	text-align: center;
	margin: 2% 2% 2% 4%;
	padding: 2% 1%;
	width: 27%;
	font-size: 11px;
    height:150px;
}

.badge-content{
	height:50px;
	 overflow: hidden;
  text-overflow: ellipsis;
}

.margin-right5per {
	margin-right: 2%;
}

.button-4-col{
	width:23%!important;
	font-size:0.8em!important;
}

.button-2-col{
	width:49%!important;
	font-size:0.8em!important;
}

.time-block {
	background: #fff;
	color: #000;
	padding: 5px;
	border-radius: 7px 0;
	position: absolute;
	right: 15px;
	font-size: 10px;
	bottom: 40px;
}

.selected{
	border: 3px solid #ea4841;
}

.relative{
	position:relative;
}

.light-yellow{
	background:#F1F8C8;
}

.small-box{
	background:#Eced7b;
	border-radius:5px;
	margin:10px 10px; 
	font-weight:normal;
	font-size:10px;
	padding:5px;
	text-align:center;
}

.small-center-sect{
	font-weight:normal;
	font-size:13px;
	padding:5% 0;
}
.small-center-heading{
	font-size:1.3em!important;
	font-weight:bold;
}

.small-box-number{
	font-weight:bold;
	font-size:2em;
}

.journal-coin-section{
	background:#000;
	border-radius:10px;
	padding:10px;
	font-size:2em;
	text-align:right;
	color:#fff;
	font-weight:bold;
}

.coin-section-active{
	background:#9CCF31!important;
	color:#000!important;
}

.gray-coin-section{
	color:#fff;
	text-align:right;
	display:block;
	padding:5px 2px; 
	float:left;
	width:100%;
}

.coin-number{
	padding:5px 3px;
	font-size:12px;
}

.categories-nav{
	border-top:1px solid #000;
	font-family:"Eras Medium ITC";
}

.sub-categories-nav {
	border-top: 1px solid #000;
	padding-left: 20px;
	margin-left: -10px;
	width: 107%;
}

.tertiary-sub-categories-nav {
	border-top: 1px solid #000;
	padding-left: 35px;
	margin-left: -20px;
	width: 111%;
	}

.category-nav-text {
	margin-top: 3px;
	padding-left: 0;
	font-size: 1.2em;
	color: #000;
}

.col-xs-2-custom{
	width:40px;
	float:left;
}

/*******************Tabs CSS****************/

.nav-tabs {
	border-bottom:0;
	margin: 5px 0 5px;
}

.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
	border-radius: 4px;
	margin-left: 5px;
	width: 31%;
	text-align: center;
	font-weight: normal;
	background:#f2f2f2;
	color:#000;
}

.nav-tabs>li>a {
	margin-right: 0;
	line-height: 1.428571429;
	border:0;
	border-radius: 4px;
	color:#000;
	padding:8px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #fff;
	background-color: #000;
	border-radius: 4px;
	cursor:pointer;
	border:0;
}

.four-col>li {
	float: left;
	margin-bottom: -1px;
	border-radius: 4px;
	margin-left: 5px;
	width: 23.7%;
	text-align: center;
	font-weight: normal;
	background:#f2f2f2;
	color:#000;
}

.two-col>li {
	float: left;
	margin-bottom: -1px;
	border-radius: 4px;
	margin-left: 5px;
	width: 48%;
	text-align: center;
	font-weight: normal;
	background:#f2f2f2;
	color:#000;
}

/*********** slider**************/

.swiper-container {
  width: 100%;
  height: 100%;
  color: #000;
  text-align: left;
}

.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
}
.pagination,.pagination2,.pagination3 {
	position: absolute;
	z-index: 20;
	bottom: 10px;
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}

.close-icon-left {
	width: 22px;
	float: left;
	cursor: pointer;
	margin: 2px 8px 2px 5px;
}

.share-wrapper{
	width:100%;
	float:left;
	position:absolute;
	bottom:0;
	-webkit-transform: translate3d(0px, 0px, 0px);
	z-index:10000;
	display:none;
}

.gray-bg{
	background:#d9dada;
	float:left;
}

.cancel-bg{
	background:#c8f8e2;
	padding:5px 0;
	color:#006eff;
	text-align:center;
}

.share-icons{
	margin: 10px 0;
	float: left;
}

.share-title{
	float: left;
	width: 100%;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #ccc;
}

.border-bottom-right{
	border-radius: 0 0 7px 0;
}
.border-rad{
	border-radius:7px 0;
}
.border-top-left{
	border-radius:7px 0 0 0;
}


.tile {
	height: 13px;
	width: 30px;
	display: block;
	margin: 3px 0;
}

.answer-wrap-top-left {
	text-align: center;
	border: 4px solid #000;
	padding: 21px 0;
	border-radius: 10px 0 0;
	font-size: 14px;
	margin-bottom: 3px;
}

.answer-wrap-bottom-left {
	text-align: center;
	border: 4px solid #000;
	padding: 21px 0;
	border-radius: 0 0 0 10px;
	font-size: 14px;
	margin-right: 0px;
}

.answer-wrap-standard {
	text-align: center;
	border: 3px solid #000;
	padding: 10px 0;
	border-radius: 10px;
	font-size: 14px;
	margin-bottom: 3px;
}

/* iscroll css */



#footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	background: #444;
	padding: 0;
	border-top: 1px solid #444;
}

/* #wrapper {
	position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 48px;
	left: 0;
	width: 100%;
} */


.snap-content {
	top:12.3%!important;
    background: #009ECE;
    -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          border-right:0!important;
          
}

.menus{
	top:3.7%!important;
}


.snap-drawer{
	overflow:auto!important;
}

.avtars{
       background:#fff;
       border-radius:15px 0;
       float:left;
       margin:7px 8px;
       padding:10px;
}

#profile_image{
       background: #fff;
       padding: 10px;
       border-radius: 15px 0;
}

.category-wrapper .col-xs-2 img{
	border-radius:7px 0 0 0;
}

.inner-wrapper .col-xs-2 img{
	border-radius:7px 0 0 0;
}

.inner-category-wrapper .col-xs-2 img{
	border-radius:7px 0 0 0;
}

.view-text-black{
	font-size: 0.9em;
	color: #000;
}

.no-header{
	height:50px;
	background:#009ECE;
	position:absolute;
	top:20px;
	left:0;
	width:100%;
	-webkit-transform: translate3d(0px, 0px, 0px);
	z-index:100;
}

.transition-wrapper{
	text-align: center;
	font-size: 1.3em;
	padding: 8rem 3rem;
	font-family:"Eras Medium ITC";
}

.transition-wrapper2 {
	text-align: center;
	font-size: 1.3em;
	padding: 6rem 3rem;
	font-family: "Eras Medium ITC";
}

.transition-text{
	color:#fff;
}

.transition-big-text{
	color:#fff;
	font-size: 1.4em;
	padding-top:3rem;
}

.orange-text{
	color:#faba4b!important
}

.time-text {
	color: #faba4b;
	font-size: 12px;
	clear: both;
	display: block;
	margin-top: -8px;
}

.clock {
	float: left;
	font-size: 1.5em;
	padding: 0 5px;
}

.time-wrapper {
	padding: 20px 32px 0;
	color: #fff;
}

/* css for iphone devices */
@media only screen 
and (min-width : 320px) 
and (max-width : 479px) {

.head-title-layout3 {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	color: #FABA4B;
	margin-top: 2px;
    margin-left: -10px;
}

.event-title {
	display: block;
	font-size: 1.2em;
	font-weight: normal;
	padding: 10px 0 5px 10px;
	color: #000;
	font-family: "Eras Bold ITC";
}

.end-text {
	font-size: 1em;
	padding: 5px 10px 5px 0;
}
.event-name {
	display: block;
	float: left;
	font-size: 1em;
	padding: 5px 10px;
	color:#000;
}

.send-input {
	width: 100%;
	padding: 10px;
	text-align: left;
	border-radius: 7px;
	border: 0;
	font-size: 15px;
}

.belt-wrapper {
	padding: 3px 3px;
	border-radius: 7px 0;
	display: block;
	float: left;
	margin-right: 15px;
}
.accept-all {
	background: #009ECE;
	padding: 2px 5px;
	color: #fff;
	border-radius: 7px 0;
	font-size: 15px;
	font: 15px 'Eras Demi ITC';
	text-shadow: 0px 1px 0px #666, 0px 1px 0px #666, -1px 1px 0px #666, -2px 1px 0px #666, 0px -1px 0px #666;
	/* margin-bottom: 5px; */
	display: block;
	width: 117px;
	margin: 0 auto;
}
.category-text{
	font-size:1em;
	color:#000;
	font-family: "Eras Medium ITC";
}

.white-block {
	background: #fff;
	padding: 2px 0;
	font-size: 0.9em;
	color: #000;
	float: left;
	width: 100%;
	border-bottom: 3px solid #000;
	border-top: 3px solid #000;
	font-weight: bold;
}

.white-block-profile {
	background: #fff;
	padding:0;
	font-size: 0.9em;
	color: #000;
	float: left;
	width: 100%;
	border-bottom: 3px solid #000;
	border-top: 3px solid #000;
	font-weight: bold;
}

.view-text {
	color: #f4f3f7;
	letter-spacing: 1px;
	font: 19px 'Eras Demi ITC';
	text-shadow: -1px 2px 0px #959595, 1px 2px 0px #959595, 0px -2px 0px #959595, -1px 1px 0px #959595, -2px -1px 0px #959595;
}

.view-text-nb {
	color:#fff;
	font-size:1em;
}

.view-text-repredict {
	color: #f4f3f7;
	letter-spacing: 1px;
	font: 16px 'Eras Demi ITC';
	text-shadow: -1px 2px 0px #959595, 1px 2px 0px #959595, 0px -2px 0px #959595, -1px 1px 0px #959595, -2px -1px 0px #959595;
	font-weight: 500;
}

.embossed{
	letter-spacing: 1px;
	font:20px 'Eras Demi ITC';
	text-shadow: 0px 1px 0px #959595, 0px 1px 0px #959595, -1px 1px 0px #959595, -2px 1px 0px #959595, 0px -1px 0px #959595;
}

.reuest-embossed {
	letter-spacing: 1px;
	font: 12px 'Eras Demi ITC';
	text-shadow: 0px 1px 0px #959595, 0px 1px 0px #959595, -1px 1px 0px #959595, -2px 1px 0px #959595, 0px -1px 0px #959595;
	color: #f2f2f2;
	font-weight: normal;
	line-height: 20px;
}

.marginTgl{
	margin-top:5px;
}

.recap-title {
	color: #000;
	font-size: 1em;
	padding:10px 10px;
}

.width-per{
	width:4%;
	float:left;
}

.coin-sect {
	background: #000;
	float: left;
	border-radius: 5px;
	padding: 5px 0px 5px 4px;
	color: #fff;
	width: 28%;
	font-size: 11px;
}

.expressions {
	width: 8%;
	float: left;
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
}

.green-title{
	color:#9CCF31;
	font-size:1em;
	font-weight:bold;
	padding:4% 10px;
}

.nav-text {
	display: block;
	padding-top: 3px;
	position: absolute;
	width: 200px;
	left: 25px;
}

.answer-circle {
	background: url("../img/Green_Circle_Equals.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
	height: 59px;
	position: absolute;
	right: -25px;
	top: -1px;
	width: 59px;
	z-index: 1;
}

.answer-wrong-circle {
	background: url("../img/Red_Circle_Does_Not_Equals.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
	height: 59px;
	position: absolute;
	right: -25px;
	top: -1px;
	width: 59px;
	z-index: 1;
}

.answer-text {
	font-size: 0.9em;
	color: #000;
	text-align: left;
	margin: 0;
	padding: 5px 30px 5px 5px;
	height: 57px;
	border-radius: 0 0 7px 7px;
}

.answer-right-text {
	font-size: 0.9em;
	color: #000;
	text-align: right;
	margin: 0;
	padding: 5px 5px 5px 25px;
	height: 57px;
}

.menu-img {
	width: 10%;
	float: left;
	padding-left: 2%;
	margin-top: 3%;
}

.profile-menu-img {
	width: 10%;
	float: left;
	padding-left: 2%;
}

.img-responsive-custom {
	display: block;
	width: 30px;
	height: 30px;
}

.discussion-name-left{
    display: block;
    float: left;
    font-size: 1em;
    padding: 2% 6% 7%;
	font-family:"Eras Light ITC";
}

.discussion-name-right{
    display: block;
    float: right;
    font-size: 1em;
    padding: 2% 6% 7%;
	text-align:right;
	font-family:"Eras Light ITC";
}
.nopad{
	padding-left:0;
	padding-right:0;
}
.img-320-responsive{
	width:100%;
	margin:0;
}

.col-xs-6-custom {
	width: 48%;
	float: left;
	margin: 0 -12px 0 15px;
	position: relative;
}

.answer-wrap-standard {
	text-align: center;
	border: 3px solid #000;
	padding: 10px 0;
	border-radius: 10px;
	font-size: 14px;
	margin-bottom: 3px;
	font-family: "Eras Medium ITC";
}

.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.vertical-text {
	background: none repeat scroll 0 0 #404040;
	color: #ffc44c;
	float: left;
	padding: 5px 10px;
	text-transform: uppercase;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transform-origin: left top 0;
	-moz-transform-origin: left top 0;
	-ms-transform-origin: left top 0;
	position: absolute;
	left: 10px;
	top: 198px;
	width: 200px;
	font-weight: bold;
	font-size: 1.3em;
}


.tile{
	height: 13px;
	width: 30px;
	display: block;
	margin: 3px 0;
}

.title{
    font-size: 11px;
    padding:0 10px;
}

.close{
    display:none;
}

.answer-wrap-top-left {
	text-align: center;
	border: 4px solid #000;
	padding: 21px 0;/Users/sampurna/Desktop/hello1/platforms/ios/www/img
	border-radius: 10px 0 0;
	font-size: 14px;
	margin-bottom: 3px;
}

.answer-wrap-bottom-left {
	text-align: center;
	border: 4px solid #000;
	padding: 21px 0;
	border-radius: 0 0 0 10px;
	font-size: 14px;
	margin-right: 0px;
}

.circle-img {
	width: 50%;
}

.circle-wrapper {
	position: absolute;
	z-index: 10;
	margin-left: 19px;
	display: block;
	right: -87px;
	top: 44px;
}

.question-number {
	font-size: 1em;
	color: #fff;
	position: absolute;
	top: 17px;
	left: 20px;
}

.answer-wrap-top-right {
	text-align: center;
	border: 4px solid #000;
	padding: 21px 0;
	border-radius: 0 10px 0 0;
	font-size: 14px;
	margin-bottom: 3px;
}

.answer-wrap-bottom-right {
	text-align: center;
	border: 4px solid #000;
	padding: 21px 0;
	border-radius: 0 0 10px 0;
	font-size: 14px;
}
.font-question {
	font-size: 16px;
	color: #000;
	clear: both;
	padding-top: 5px;
	font-weight:bold;
	font-family: "Eras Medium ITC";
	margin:0;
    padding-left:5px;
    padding-right:5px
}
.blue-wrapper {
	background: #009ECE;
	margin: 2% 0 5%;
	border-radius: 10px;
	padding: 2%;
	color: #000;
	font-size: 13px;
	text-align: center;
	width: 32%;
	position: relative;
	float: left;
	cursor: pointer;
	height: 75px;
}

.red-active{
    border:2px solid #ff0000;
}

.event-name {
	display: block;
	float: left;
	font-size: 12pt;
	padding: 5px 10px;
	color: #000;
	width: 70%;
	font-family:"Eras Medium ITC";
}

.category-name {
	display: block;
	float: left;
	font-size: 15px;
	padding: 5px 10px;
	color: #000;
	width: 100%;
}

.green-block {
	background: none repeat scroll 0% 0% rgb(156, 207, 49);
	padding: 0px 5px;
	text-align: right;
	height: 35px;
	padding-top: 6px;
}

.yellow-model-text {
	font-size: 14px;
	color: #000;
	font-family:"Eras Medium ITC";
}

.round-wrap-left{
	border: 4px solid #000;
	padding: 15px 5px;
	border-radius: 10px 0 0 10px;
	font-size: 12px;
	margin:2% 0;
	font-family:"Eras Medium ITC";
}

.round-wrap-right{
	border: 4px solid #000;
	padding: 15px 5px;
	border-radius: 0 10px 10px 0;
	font-size: 12px;
	margin:2% 0;
	border-left:0;
	font-family:"Eras Medium ITC";
}
.select-all {
	background: #000;
	color: #fff;
	padding: 5px;
	cursor: pointer;
	font-size: 10px;
	border: 0;
}

.custom-anchor{
	display: block;
	position: relative;
	right: 20px;
}


.search-input {
	width: 100%;
	padding: 5px;
	text-align: center;
	border-radius: 7px;
	border: 0;
	font-size: 13px;
	background:url("../img/search_icon.png") 25% 7px no-repeat;
}

.send-input {
	width: 100%;
	padding: 5px;
	text-align: left;
	border-radius: 7px;
	border: 0;
	font-size: 15px;
}

.send-message-text {
	background: #f9df41;
	border-radius: 7px 0;
	text-align: center;
	margin-bottom: 2%;
	padding: 0;
	width: 70%;
	float: left;
	margin-right: 5px;
}

.custom-heading-anchor {
	display: block;
	position: relative;
	text-decoration: underline;
	font-size: 13pt;
	color: #000;
	font-weight: normal;
	font-family: "Eras Light ITC";
}

.account-social-text {
	font-size: 12px;
	text-align: center;
	padding: 0px 5px;
	font-family: "Eras Medium ITC";
}

.account-social-text-links {
	font-size: 12px;
	text-align: left;
	padding: 0px 0px;
	font-family: "Eras Medium ITC";
    margin-top:3px;
}

.height-img{
	height:20px;
}

.journal-coin-section {
	background: #000;
	border-radius: 10px;
	padding: 10px;
	text-align: right;
	color: #fff;
	font-family: "Eras Bold ITC";
	font-size: 23px;
	font-weight: normal;
}

.journal-coin-section img{
	margin-left:5px;
}


.four-col>li {
	float: left;
	margin-bottom: -1px;
	border-radius: 7px;
	margin-left: 5px;
	width: 23%;
	text-align: center;
	font-weight: normal;
	background:#f2f2f2;
	color:#000;
}

.nav-tabs>li>a {
	margin-right: 0;
	line-height: 1.428571429;
	border:0;
	border-radius: 7px;
	color:#000;
	padding:5px 8px;
	font-size: 12px;
	font-family: "Eras Medium ITC";
}
.close-icon-left {
	width: 19px;
	float: left;
	cursor: pointer;
	margin: 2px 2px 0px 3px;
}



.family-title {
	background: #404040;
	border-radius: 7px 0 0 0;
	padding: 5px;
	color: #fff;
	font-size: 12px;
	font-family: "Eras Medium ITC";
	text-align: left;
	height: 40px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.family-title-add-edit {
	background: #404040;
	border-radius: 7px 0 0 0;
	padding: 5px;
	color: #fff;
	font-size: 12px;
	font-family: "Eras Medium ITC";
	text-align: left;
	height: 40px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.family-title-small {
	margin-left: 5px;
	margin-top: -5px;
	padding-left: 0;
	padding-right: 0;
	width: 80px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 13px;
}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
	padding-bottom: 4px;
	padding-top: 4px;
	font-size: 14px;
	line-height: 15px;
}

.account-sect {
	background: #fff;
	padding: 10px 5px;
	width: 30%;
	text-align: center;
	border-radius: 5px;
	float: left;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: "Eras Medium ITC";
}

.select-input{
	width: 100%;
	padding: 10px;
	text-align: center;
	border-radius: 7px;
	color: #000;
	font-size: 1em;
}
.text-area {
	width: 100%;
	text-align: left;
	color: #000;
	font-size: 1em;
	padding: 10px;
	border: 0;
	border-radius: 5px;
}

.big-belt{
	padding:5px 10px;
	border-radius: 7px 0;
}
.badges {
	background: #fff;
	border-radius: 10px 0;
	text-align: center;
	margin: 5px 0;
	padding: 2% 2%;
	width: 30%;
}

.margin-right14per {
	margin-right: 5%;
}

.custom-badges{
	font-size:11px;
	padding:2px;
}

.small-block-wrapper {
	float: right;
	margin: 0 1%;
}

.small-black-block {
	background: #000;
	border-radius: 5px;
	color: #fff;
	padding: 2px 5px;
	text-align: center;
	font-size: 14px;
	width: 26px;
}

.small-white-block {
	background: #fff;
	border-radius: 5px;
	color: #000;
	padding: 2px 5px;
	text-align: center;
	font-size: 14px;
	width: 26px;
}

.orange-block {
	background: #Eced7b;
	padding: 2px 0;
	font-size: 1em;
	color: #000;
	float: left;
	width: 100%!important;
	border-bottom: 3px solid #000;
	border-top: 3px solid #000;
	font-weight: bold;
	position:relative;
}

.yellow-wrapper {
	background: #Eced7b;
	width: 31.4%;
	text-align: center;
	font-size: 1em;
	float: left;
	padding: 10px 0;
	border-radius: 10px;
	color:#000;
	cursor: pointer;
    height: 75px;
}
.yellow-model1 {
	margin-right: 5%;
	margin-left: 0;
}

.store-titles{
	font-size: 1.5em;
	font-weight:bold;
	font-family:"Eras Demi ITC";
}

.blank-div{
	height:50px;
}

.blank-footer-div{
	height:60px;
}

.blue-model-img {
	width: 40%;
	float: left;
}

.blue-model-img-for-it {
	width: 80%;
	float: left;
}

.suggestCategory {
	border-radius: 7px 0;
	background: #Faba4b;
	text-align: center;
	font-size: 1em;
	font-weight: normal;
	padding: 2%;
	margin: 0 2%;
	font-family: "Eras Demi ITC";
}

.selected-group{
	background:#564947;
	opacity:0.5;
}

.big-sub-belt {
	padding: 3px 5px;
	border-radius: 0 0 7px 0;
}
/**************** slider css************/
/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.s1{
	/* Specify Swiper's Size: */

	width:100%;
	height: 150px!important;
}
.s3{
	/* Specify Swiper's Size: */

	width:100%;
	height: 310px!important;
}

.s2{
	/* Specify Swiper's Size: */

	width:100%;
	height: 280px!important;
}


.full-height{
	/* Specify Swiper's Size: */

	width:100%;
	height: 600px!important;
}

.semi-full-height{
	/* Specify Swiper's Size: */

	width:100%;
	height: 1000px!important;
}

.three-rows{
	width:100%;
	height: 430px!important;
}

.store-images{
	margin: 9% 15%;
}

.store-image-horizontal{
	margin: 11.4% 17%;
}

.swiper-slide {
	/* Specify Slides's Size: */
	
	/*width: 100%;
	height: 100%;*/
}
.swiper-slide-active {
	/* Specific active slide styling: */
	
}
.swiper-slide-visible {
	/* Specific visible slide styling: */	

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
	/* Stylize pagination button: */	

}
.swiper-active-switch {
	/* Specific active button style: */	
	
}
.swiper-visible-switch {
	/* Specific visible button style: */	
	
}

}

.close_wrapper {
	opacity: 0.5;
	background: #333;
	width: 100%;
	height: 102px;
	position: absolute;
	top: 0px;
	text-align: center;
	vertical-align: middle;
	display:none;
	z-index: 999;
}

.ranking-list-wrapper .close_wrapper {
	opacity: 0.5;
	background: #333;
	width: 100%;
	height: 102px;
	position: absolute;
	top: -1px;
	text-align: center;
	vertical-align: middle;
	display: none;
	z-index: 999;
}

.height45{
	height:45px;
}

.ranking-list-wrapper .selected-image {
	margin-top: 20px;
	z-index: 99999999;
	position: absolute;
	margin-left: 20px;
	display: none;
}

.word-break{
    word-wrap:break-word;
}

#image-loadingPanel{
    margin-top: 20%;margin-left: 10px;margin-right: 10px;
}

.disable-container {
    position:absolute; 
    top:0px; 
    z-index: 999; 
    background: #000; 
    opacity: 0.5
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3)
{
	.snap-content {
		top: 14.3%!important;
	}	
}